<div class="row sha bg-light">
    <div class="col-md-12">
      <div class="row  m-0">
        <div class="col-xxl-2">
          <app-unbreackable-letters [letter]="'U'"></app-unbreackable-letters>
        <span class="fw-bolder">N B R E A K A B L E</span>
        </div>
        <div class="col-md-8" *ngIf="navbarToShow=='forms'"></div>
        <div class="col-xxl-9" *ngIf="navbarToShow!='forms'">
          <div class="row m-0" >
            <div class="row m-0 xxl-width">
            <div  class="col-xxl-1 hover">
              <button  matTooltip="Home"  class="btn"  [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/home')">
                🏠
              </button>
            </div>
           <div *ngFor="let a of argumentsArray"  class="col-xxl-1 hover text-center">
                      <button class="btn text-center"  matTooltip="{{a.title}}"   [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/'+a.title)">
                        {{a.icon}}
                      </button>
                        <br>
                    </div>
                    <div  class="col-xxl-1 hover">
                      <button  class="btn text-center" matTooltip="Make contact"  [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/connect')">
                        🤝
                      </button>
                    </div>
                    <div  class="col-xxl-1 hover">
                      <button  class="btn text-center" matTooltip="Profile"   [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/profile')">
                        👤
                      </button>
                    </div>
                   </div>
                   <div class="row m-0 xl-width" style="z-index: 999999999;">
                    <button mat-button [matMenuTriggerFor]="menu" class="w-25">Menu</button>
                    <mat-menu #menu="matMenu" style="z-index: 999999999;">
                      <button mat-menu-item matTooltip="Home" [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/home')">Home</button>
                      <button mat-menu-item  matTooltip="{{a.title}}" [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/'+a.title)" *ngFor="let a of argumentsArray">
                      {{a.title}}</button>
                      <button mat-menu-item matTooltip="Make Contact" [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/connect')">Make Contact</button>
                      <button mat-menu-item matTooltip="Profile" [ngClass]="{'text-dark': bg, 'text-light': !bg}" (click)="goToRoute('/profile')">Profile</button>
                    </mat-menu>
                   </div>
          </div >
    </div>
<div class="col-xxl-2 d-flex justify-content-end" *ngIf="navbarToShow=='forms'">
  <a href="#" (click)="goToForms('login')" class="mt">
 <span id="login" class="text-dark-span" >Login</span>
 <canvas #canvas1 class="pt-2"></canvas> </a>
  <a href="#"  class="mt-2" (click)="goToForms('signup')">
    <div class="row">
      <div class="col-6 text-dark">Signup </div>
    </div></a>
</div>
<div class="col-xxl-1 d-flex justify-content-end p-2" *ngIf="navbarToShow!='forms'">
  <button  mat-button [matMenuTriggerFor]="menu" (click)="updateNotification($event)"> <a class="btn p-2">
    <mat-icon [matBadge]="badgeValue" matBadgeColor="warn" matBadgePosition="above after">notifications</mat-icon>
  </a></button>
<mat-menu #menu="matMenu" >
  <button class="btn" *ngFor="let n of notificationArray">
  <div class="row">
    <div class="col-md-2">
      <img src="{{n.sender.img_profilo}}" style="max-width: 20px;" alt="sender_img_profilo">
    </div>
    <div class="col-md-8" style="font-size: 10px;">
      <div class="col-md-12" *ngIf="n.comment &&n.comment.testo">{{n.sender.nome}} {{n.sender.cognome}} ha messo mi piace al tuo commento</div>
      <div class="col-md-12 text-center" *ngIf="n.comment &&n.comment.testo">{{n.comment.testo}}</div>
      <div class="col-md-12" *ngIf="n.friendship">{{n.sender.nome}} {{n.sender.cognome}} ha cominciato a seguirti</div>
    </div>
    <div class="col-md-1">
      <mat-icon class="text-danger" *ngIf="n.comment &&n.comment.testo">favorite</mat-icon>
      <mat-icon class="text-warning" *ngIf="n.friendship">person_add_alt_1</mat-icon>
    </div>
  </div>
  </button>
<button  class="btn" *ngIf="notificationArray.length==0">Non ci sono nuove notifiche</button>
</mat-menu>
  <a href="#" (click)="goToForms('login','clear')" class="p-2">
 <span id="login" class="p-2" >Logout</span>
</a>
</div>
      </div>
    </div>
  </div>

