<div class="container">
  <div class="row">
    <div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
<h1>Light section</h1>
<p class="fs-4 py-4">
  Light has a profound impact on human emotions and feelings, and this connection is often referred to as the field of "lighting psychology."
   Here are some ways in which light can affect our feelings
</p>
<div #video1 class="py-4"></div>
<h2 class="py-2">N° 1 Circadian Rhythms and Melatonin Production</h2>
<div class="row border-bottom py-2">
  <div class="col-md-6">
    <p class="fs-4 py-4">
      Exposure to natural daylight and warm-colored light during the day helps regulate circadian rhythms by reinforcing the body's internal clock.
      Natural light exposure during the day suppresses melatonin production. Melatonin is a hormone associated with sleep and is typically low during waking hours.
    </p>
  </div>
  <div class="col-md-6">
<img src="assets/background-image/components/Light/cRAndMelatonin.png" alt="" class="w-100 rounded shadow-lg" data-aos="fade-right" data-aos="zoom-in" data-aos-duration="3000">
  </div>
  <div class="col-md-12 py-4">
    <strong class="fs-3 py-4">Benefits:</strong>
<p class="fs-4 py-4">
  Regulated circadian rhythms contribute to improved sleep quality, wakefulness during the day, and overall well-being.
Exposure to natural and warm light during the day supports the production of serotonin, a neurotransmitter associated with mood regulation.
</p>
  </div>
</div>
<h2 class="py-2">N ° 2 Productivity and Concentration</h2>
<div class="row border-bottom py-2">
  <div class="col-md-6">
    <img src="assets/background-image/components/Light/warmLight.webp" alt="" class="w-100 rounded shadow-lg" data-aos="fade-left" data-aos="zoom-in" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
    <p class="fs-4 py-4">
      Warm lighting, when appropriately used in certain contexts, can create a comfortable and relaxed atmosphere that may be conducive to creative thinking and brainstorming.
    </p>  </div>
  <div class="col-md-12 py-4">
    <strong class="fs-3 py-4">Benefits:</strong>
<p class="fs-4 py-4">
  Well-designed lighting that incorporates warm tones can contribute to a positive work environment, promoting a balance between focus and comfort.
  Exposure to natural or warm light during the day can help maintain a healthy sleep-wake cycle, which, in turn, supports daytime alertness and concentration.
</p>
  </div>
</div>
<h2 class="py-2">N ° 3 Hormonal Regulation</h2>
<div class="row ">
  <div class="col-md-6">
    <p class="fs-4 py-4">
      Light exposure, particularly in the morning, has been shown to influence cortisol levels. Cortisol is a hormone associated with wakefulness and alertness.
      Exposure to bright light during the day can have positive effects on mood and reduce symptoms of fatigue.    </p>
     </div>
     <div class="col-md-6">
      <img src="assets/background-image/components/Light/hormon.jpg" alt="" class="w-100 rounded shadow-lg" data-aos="fade-right" data-aos="zoom-in" data-aos-duration="3000">
    </div>
  <div class="col-md-12 py-4">
    <strong class="fs-3 py-4">Benefits:</strong>
<p class="fs-4 py-4">
  Well-designed lighting that incorporates warm tones can contribute to a positive work environment, promoting a balance between focus and comfort.
  Exposure to natural or warm light during the day can help maintain a healthy sleep-wake cycle, which, in turn, supports daytime alertness and concentration.
</p>
  </div>

</div>
    </div>
    <app-x401-speech [id]="string" class="py-4"></app-x401-speech>
<div class="col-md-12" data-aos="slide-up" data-aos-duration="3000">
    <h2>Did you like this?</h2>
    <app-comments-and-reviews [argument_id]="9" ></app-comments-and-reviews>
  </div>
  </div>

  </div>
