
<div class="row text-center bg-light">
  <footer class="pt-3 pb-3">
    <div class="row">
      <div class="col-md-4">
    <div class="row">
      <div class="col-md-4"><a href="#"><i class="fas fa-address-book text-danger"></i> Contatti</a></div>
      <div class="col-md-4"><a href="#"><i class="fas fa-info-circle text-danger"></i> About <span> Unbreackable</span></a></div>
      <div class="col-md-4"><a href="#"> <i class="fas fa-bullseye text-danger"></i> Mission</a></div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>
         <span>U N B R E A C K A B L E</span>
    </h3>
  </div>
  <div class="col-md-4">
   <p class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i> Casali del Manco , Cosenza - Italia</p>
  </div>
    </div>
</footer>
</div>

