  <canvas #myCanvas2 [style.position]="'fixed'"  [style.top]="0"
  style="position: fixed; top: 0; max-width: 100%;z-index: 0;"
  class="canvas2" ></canvas>
  <div style="height: 100%; position: fixed; top: 0; width: 100%; background: url('assets/forest-and-sun.jpg') center/cover no-repeat;  opacity: 0.1;z-index: 0;"></div>
  <div class="container bg-transparent ">
<div class="row p-5 text-center ">
  <div class="col-md-12">
    <h1 class="p-5">
      True hell is when the person you are meets the person you could have been.
    </h1>
  </div>
<div class="col-12 p-3">
  <div class="cube m-auto rounded" #cube >
      <app-login *ngIf="paramValue=='login'" (location)="onReceiveLocation($event)"></app-login>
      <app-signup *ngIf="paramValue=='signup'||!paramValue" (location)="onReceiveLocation($event)"></app-signup>
  </div>
</div>
<div class="col-12 p-4">
  <h1>Thank you for visit</h1>
  <h1><span>Unbreackable!</span></h1>
  <p class="fs-6 text-secondary">It is a great pleasure to have you there, we don't play with other peoples time and of course we don't want to waste it, so
     we try our <span class="fw-bold">best</span> to make it the most <span class="fw-bold">valuable</span> possible.</p>
</div>
<div class="col-md-12">
  <div class="row text-center">
    <div class="col-md-6 p-2">
      <div class="border rounded text-dark shadow fs-5 shake-on-hover">
        <h1>Grow up <i class="fas fa-arrow-up text-success"></i></h1>
        <hr>
    <p>Energy levels</p>
    <p>Metabolism</p>
    <p>Focus</p>
    <p>Brain cells</p>
    <p>Overall Health</p>
      </div>
    </div>
    <div class="col-md-6 p-2">
      <div class="border rounded shadow fs-5 shake-on-hover">
        <h1>Slow down <i class="fas fa-arrow-down text-danger "></i></h1>
        <hr>
        <p>Aging</p>
        <p>Stress</p>
        <p>Percentage of get sick</p>
        <p>brain deterioration</p>
        <p>brain fog</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr class="py-5">

<div class="row p-0 m-0 ">
  <div class="col-12 p-4 text-center">
    <h1>        If pain didn't make you <span>better</span>, you wasted it!
    </h1>
          <canvas #myCanvas [style.max-width]="'100%'" class="canvas"></canvas>
</div>
</div>
<hr class="py-5">

<div class="container bg-transparent">
  <div class="row">
    <div class="col-md-4">
      <div class="p-2 bg-white rounded border shadow m-1 " data-aos="zoom-in" data-aos-duration="3000">
        <h2>We have <span>never</span> lived those times before</h2>
      <p class="p-2 fs-5 overflow-auto">
    In the modern society it's easy to get sick. We see illnesses rise year after year, and this unique gift that we have called life could be ruined for our bad habits, decisions and stupid
    actions we often made for what we call business. Nowdays children, babyies, young people get sick appearently without a reason. And this pushed us of <span>Unbreackable</span> to analyze this phenomenon.
    It's not right all the scandal that is happening and this made us search, and <span>found</span> some causes and some healthy and natural solutions that works, in prevention, cure, and treatment of some of
    the most common issues that the population is facing in the modern.
      </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="p-2 bg-white rounded border shadow m-1 " data-aos="zoom-in" data-aos-duration="3000">
        <h2>What is <span>Unbreackable</span></h2>
    <p class="p-2 fs-5 overflow-auto" >
    <span>Unbreackable</span> is more than just a concept. It is something borned from all the negativity and all the bad experiences, bad emotions and bad situations,
    reflecting one of the greatest ispirational and shiny quotes : <span>"Experience is what you got,when you don't get what you want."</span>  This is a deep concept in wich it is defined the believe
    of "i'm not better than you, you are not better than me." And it is as simple as it sounds. Unbreackable is a way of living. It is not a competition, it is not a challange,
    it is not an anxious run to go before someone. No, it is the total opposite. Unbreackable is the strong consciusness to believe that each one of us has a path. I have mine,you
    have yours, someone else has its own.And for this it preaches and practice , for what is possible the absece of see competition in other and the possibility to put other in stress situations. This
    project, is a person based project, it is only personal.It feeds itself with the good food, the meditation, the nature,the soul, the mind and the finest science based concepts and tecniques to optimize
    the human physical and mental status , to optimize performances and do the best possible to realize ourselves.It is founded on strong experiences and observed studies. However ,
    each one of us has its own way to feel good, based on its personal experiences of life, but the are somethings in common that can influence positively no matter what's your starting. And here we analyze
    those things, that all togheter form  the  <span>Unbreackable</span> way of living.'</p>
        </div>
    </div>
    <div class="col-md-12 p-5">
      <div class="row">
        <div class="col-md-12 p-4"><h2 class="text-center">Here below, there are the <span>main</span> arguments that we treat and focus on :</h2></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover">
       <button mat-fab disabled >
      1
    </button>
      Path</p><p class="text-secondary">
      Each one of us has one. We cannot change it, we cannot choose it, we can't do anything about it,we can only improve our
      performances to reach the farest point possible of it. And be conscious to know that we done our best during our living.
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
      2
    </button>  Nutrition</p><p class="text-secondary">
      So how to indulge our path? One of the major steps we can do is guarantee ourselves a good, full of nutrients, natural,
       healthy nutrition. For this, we analyze the bests possible foods for humans to improve cognitive functions, prevent
        diseases, to help our body to feel strong and slow the speed of aging.</p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
      3
    </button>  Sport</p><p class="text-secondary">
      Another foundamental pillar of the "unbreackable" lifestyle is the sport. Whatever it is. Running, Sprinting, going to the gym,
       walk, swim, whatever. Without any need to say more, we analyze the miracolous effects of sport on human health</p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover">
      <button mat-fab disabled >
        4
      </button> Chemistry</p><p class="text-secondary">
      We take a look at the chemistry industry, and of course genetically modifed or chemistrally added is not deadly but can badly worse
      our life ,so natural is better.
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
      5
    </button>  Neurogenesis</p><p class="text-secondary">
      How can we talk about "unbreackable" without talk about neurogenesis? It is the phenomenon for wich we can grow new brain cells. And the
      beauty is that all the previous pillars, and even the next one promote neurogenesis.
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
     6
    </button>  Music</p><p class="text-secondary">
      Let's be honest, do you know someone who doesn't like music? Maybe he/she doesn't like a particular genre, but everyone of us
      can be taken by the music. And here we discover a frequency that can help us get rid of emotinal blocks. Isn't that faboulos?
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
      7
    </button>  Sleep</p><p class="text-secondary">
      Maybe you've heard the phrase : "I'll sleep when i'll be dead." And that can be true. But what is also true is that the deprivation
      of sleep for a prolonged period of time can even destroy the other pillars. We talk about it later!
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
      8
    </button> Light</p><p class="text-secondary">
      Our internal connection. With what? With the external,with the world, and the universe in general, there are studies founded on
       criteria for wich we have an internal biological clock guided by the sun, and the moon.
    </p></div>
    <div class="col-md-12 fs-5"><p class="fw-bold w-25 m-auto gold-on-hover"> <button mat-fab disabled >
    9
    </button>  Tips</p><p class="text-secondary">
      If that is not enogh. We share our small but finest details to practice to improve overall helth and so life.
    </p></div>
      </div>
    </div>
 </div>
 </div>
<div class="row p-0 m-0">
  <div class="col-md-12 pt-5 " (mousemove)="onMouseOver($event)">
    <div class="d-flex overflow-auto w-100 scrollable " >
      <div style="min-width: 33%" *ngFor="let a of argumentsArray; index as i" class="m-auto">
        <div class="rounded text-center images p-2">
                  <h3>{{a.title}}</h3>
                  <img [src]="a.img_argument" alt="img_{{ a.argument_title }}" class="rounded border shadow" style="width: 85%; max-height: 200px; min-height: 81.6px;">
                </div>
              </div>
            </div>
  </div>
</div>
<hr class="py-5">
<div class="container">
  <div class="row">
<div class="col-md-12">
    <!-- <canvas #myCanvas1 [style.max-width]="'100%'"></canvas> -->
    </div>
    <div class="col-md-12 p-4">
      <div class="border shadow rounded w-25 m-auto shake-on-hover" style="min-width: fit-content;" data-aos="fade-right" data-aos-duration="3000">
<h1 class="text-center">Total visits </h1>
<p class="fs-2 text-center">{{visitsArray.length}} <mat-icon class="text-danger">place</mat-icon></p>
      </div>
    </div>
    <div class="col-md-12 p-4">
      <div class="border shadow rounded w-25 m-auto shake-on-hover" style="min-width: fit-content;" data-aos="fade-left" data-aos-duration="3000">
<h1 class="text-center">Active users </h1>
<p class="fs-2 text-center">{{users}} <mat-icon class="text-primary">person</mat-icon></p>
      </div>
    </div>
    <div class="col-md-12 p-4">
      <div class="border shadow rounded w-25 m-auto shake-on-hover" style="min-width: fit-content;" data-aos="fade-right" data-aos-duration="3000">
<h1 class="text-center">Rating </h1>
<p class="fs-2 text-center">{{rating}} <mat-icon class="text-warning">star</mat-icon></p>
      </div>
    </div>
    <div class="col-md-12 text-center p-4 ">
      <h1 class="translateg">Come join us and tell what you think!</h1>
      <p>We share some incredible informations, worth years of study and priceless time.</p>
    </div>
  </div>
</div>

