<div class="container text-center">
<div class="row rounded">
  <div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
    <h1 class="text-center fw-bolder">Nutrition section</h1>
  </div>
  <div class="col-md-12 text-center" data-aos="fade-up" data-aos-duration="3000">
    <p>
      How can we talk about performances, optimization and overall health without talking about nutrition? This is one of the
      most important pillars of the Unbrakable project. Of course it is not everything, but it's important to understand that it can play a significant role when we talk
      about performing. We are what we eat. If we eat junk, then we become junk, if we eat healthy then we become healthy. The problem is that, especially in the modern society
      we face some foods that not even worth to be called this way. For example : foods like donuts, sweet creams, processed foods loaded with additional sugar, alcool, seed oils
      preservatives, addensants, conservants, and all the chemical additives, those don't even deserve the appellative of 'foods'. This may sounds exagerated but we go deep in the
      details here, and, without waste any word we go straigth to the point. Let's see it togheter.
    </p>
    <h1>Let's start with the <a class="text-danger">worst</a>  food you can eat</h1>
 <p class="fs-1">N° 1 - Additives</p>
 <div class="row">
  <div class="col-md-6">
    <img src="assets/background-image/components/Nutrition/bad/additives.jpg" alt="additives" class="rounded shadow-lg w-75" data-aos="fade-left" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
    <div #video1 data-aos="fade-right" data-aos-duration="3000"></div>
  </div>
 </div>

    <p class="p-3">
      The most dangerous thing we can put into our body, and so into our stomach is something that we develop in a laboratory. First of all it can be developed for strange intentions
      , for cause some wanted reactions in individuals. Second of all <a class="text-dark">it is not natural.</a>
  </p>
  <p>I will not explain all the reactions that the additives can cause, but i will resume the effects in briefs . (science based) Them cause :</p>
  <ol class="w-25 m-auto fs-4 p-3" data-aos="fade-up" data-aos-duration="3000">
    <li>Allergic Reactions</li>
    <li>Hyperactivity in Children</li>
    <li>Headaches and Migraines</li>
    <li>Digestive Issues</li>
    <li>Intolerant reactions</li>
    <li>Carcinogenic Concerns</li>
    <li>Disruption of Gut Microbiota</li>
    <li>Endocrine Disruption</li>
  </ol>
  <p>So, next time , before say "in small quantities them are safe" think twice, there's nothing dangerous that is safe in small quantities.</p>
  <div>
    <p>Here, the most dangerous food additives , and unfortunately the most used (and considered innocues) :</p>
    <ol class="w-50 m-auto p-3 fs-4" data-aos="fade-up" data-aos-duration="3000">
      <li>Artificial Sweeteners (e.g., Aspartame, Saccharin, Acesulfame-K)</li> <img src="assets/background-image/components/Nutrition/bad/sweetners.jpg" alt="sweetners"
         class="rounded shadow-lg" style="width: 100px; height:100px">
         <p class="fs-5">Found the most in sugar-free products, diet sodas, sugar-free gum, and some desserts.</p>
      <li class="border-top p-2">Trans Fats (Partially Hydrogenated Oils)</li><img src="assets/background-image/components/Nutrition/bad/transFat.jpg" alt="sweetners"
        class="rounded shadow-lg" style="width: 100px; height:100px">
        <p class="fs-5">Found the most in many processed and packaged foods, including baked goods, snack foods, and some margarines. </p>
      <li class="border-top p-2">Monosodium Glutamate (MSG)</li><img src="assets/background-image/components/Nutrition/bad/monosodium.jpg" alt="sweetners"
        class="rounded shadow-lg" style="width: 100px; height:100px">
        <p class="fs-5">Found the most  in savory dishes, soups, sauces, and processed foods. </p>
      <li class="border-top p-2">Sodium Nitrite and Sodium Nitrate</li><img src="assets/background-image/components/Nutrition/bad/nitriteandnitrate.jpg" alt="sweetners"
        class="rounded shadow-lg" style="width: 100px; height:100px">
        <p class="fs-5">Found the most  in processed meats such as bacon, hot dogs, sausages, and cured meats. </p>
      <li class="border-top p-2">BHA (Butylated Hydroxyanisole) and BHT (Butylated Hydroxytoluene)</li><img src="assets/background-image/components/Nutrition/bad/BHT-and-BHA-free.jpg" alt="sweetners"
        class="rounded shadow-lg" style="width: 100px; height:100px">
        <p class="fs-5">Found the most in a variety of processed foods, including cereals, snacks, and baked goods.</p>
      <li class="border-top p-2">Artificial Food Colorings (e.g., Tartrazine, Sunset Yellow)</li><img src="assets/background-image/components/Nutrition/bad/artificialColours.jpg" alt="sweetners"
        class="rounded shadow-lg" style="width: 100px; height:100px">
        <p class="fs-5">Found the most in  candies, beverages, desserts, and snack foods.</p>
    </ol>
  </div>
  <p class="fs-1">N° 2 - Seed oils</p>
 <div class="row">
  <div class="col-md-6">
    <img src="assets/background-image/components/Nutrition/bad/seedoils.jpg" alt="seedoils" class="rounded shadow-lg w-75"
    data-aos="fade-left" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
    <div #video2 data-aos="fade-right" data-aos-duration="3000"></div>
  </div>
 </div>
    <p class="p-3">
     There are several discussion about oils, and about what type is healtier than the other. But when it comes to oils and fats, one thing is sure: Seed oils are so bad! And think that in USA they are recommended against
     butter, lard, tallow, olive oils, and animal fats in general.
  </p>
  <p>In briefs , (science based) They have/cause :</p>
  <ol class="w-25 m-auto fs-4 p-3" data-aos="fade-up" data-aos-duration="3000">
    <li>High Omega-6 Fatty Acids</li>
    <li>Inflammatory Response</li>
    <li>Omega-3 to Omega-6 Bad Ratio</li>
    <li>Oxidative Stress</li>
    <li>Heart Health Concerns</li>
    <li>Trans Fats</li>
    <li>Sensitivity or Allergy</li>
  </ol>  <div>
    <p>Here, the most commons seed oils , and unfortunately the most used (and considered innocues) :</p>
    <ol class="w-50 m-auto p-3 fs-4" data-aos="fade-up" data-aos-duration="3000">
      <li>Soybean Oil</li>
         <p class="fs-5">Found in many processed foods and used for cooking.</p>
      <li class="border-top p-2">Corn Oil</li>
        <p class="fs-5">Widely used in cooking and food processing. </p>
      <li class="border-top p-2">Canola Oil</li>
        <p class="fs-5">Often used in cooking and as a salad oil. </p>
      <li class="border-top p-2">Sunflower Oil</li>
        <p class="fs-5">Used in cooking and frying. Comes in high-oleic and regular varieties, with the high-oleic version containing more monounsaturated fats. </p>
    </ol>
  </div>
  <p class="fs-1">N° 3 - Alcool</p>
 <div class="row">
  <div class="col-md-6">
    <img src="assets/background-image/components/Nutrition/bad/alcool.jpg" alt="alcool" class="rounded shadow-lg w-75"
    data-aos="fade-left" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
    <div #video3 data-aos="fade-right" data-aos-duration="3000"></div>
  </div>
 </div>
    <p class="p-3">
    It is not unknown that alcool can be a dangerous thing, and too often in the modern society we include it in our diet everyday. It is not the baddest thing of the planet,
    but on the other side it is not even the best.
  </p>
  <p>In briefs , (science based) It has/causes :</p>
  <ol class="w-50 m-auto fs-4 p-3" data-aos="fade-up" data-aos-duration="3000">
    <li>Liver Damage</li>
    <li>Cardiovascular Issues</li>
    <li>Mental Health Effects</li>
    <li>Dependency and Addiction</li>
    <li>Weakened Immune System</li>
    <li>Increased Risk of Cancer</li>
    <li>Pancreatitis</li>
    <li>Neurological Damage</li>
  </ol>
  <p class="fs-1">N° 4 - All type of sugars</p>
 <div class="row">
  <div class="col-md-6">
    <img src="assets/background-image/components/Nutrition/bad/allTypeSugars.webp" alt="refinedCarbs" class="rounded shadow-lg w-75"
    data-aos="fade-left" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
    <div #video4 data-aos="fade-right" data-aos-duration="3000"></div>
  </div>
 </div>
    <p class="p-3">
    They may seems goods, but there are several studies that shows how refined or processed grains and every typer of sugar can be so bad. The problem with them is that we consume them on a regular
    base, more than one time at day. And if we take a look around us, we can see that the majority of us have a cocumber stomach. This can be caused by the carbs.From another
    poin of view, they are the same of common sugar, and are really poor of nutrients.So without waste any word
    let see the side effect of eat a lot of refined carbs.
  </p>
  <p>In briefs , (science based) They have/cause :</p>
  <ol class="w-50 m-auto fs-4 p-3" data-aos="fade-up" data-aos-duration="3000">
    <li>Blood Sugar Spikes and Crashes:</li>
    <li>Weight Gain</li>
    <li>Increased Risk of Type 2 Diabetes</li>
    <li>Heart Health Issues</li>
    <li>Digestive Issues</li>
    <li>Nutrient Deficiency</li>
    <li>Increased Inflammation</li>
    <li>Dental Issues</li>
  </ol>
  <h1 class="border-top p-4">Let's analyze now the <a class="text-success">best</a>  food you can eat</h1>
  <div class="row">
    <div class="col-md-5 p-1">
      <img data-aos="fade-left"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/meat.jpg" alt="meat" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-7 p-1">
      <h2>Meat</h2>
    <p>Meat is one of the single best foods on the planet. It has been demonized for so long, but the reason is that it is often been served associated with nitrites and nitrates, that are carcinogen,
      taked alone, meat is no dangerous, instead has the best bioavailable protein for muscle growth, function and synthesis. It is full of Vitamins, Minerals, top quality protein.
    </p>
    </div>
    <div class="col-md-7 p-1">
      <h2>Veggies</h2>
    <p>Veggies are one of the best food of the planet too. They are high in fiber, are also full of minerals, and contain chlorophyll, that as strong antioxidant properties, detoxify, clean the blood,
      and prevent many illness. The only things to remember is that in the modern world, most of the veggies contains pesticides and herbicides. So we need to choose, biologic and organic veggies.
    </p>
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-right"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/veggies.jpg" alt="veggies" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-left"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/wildsalmon.jpg" alt="fish" style="max-width: 350px;" class="rounded animated-image">
    </div><div class="col-md-7 p-1">
      <h2>Wild-caught salmon</h2>
    <p>
      Rich in omega-3 fatty acids, especially EOA and DHA that together support heart and brain health, promoting cognitive functions, improving the decision taking process
      and so many other benefits, while being an excellent source of high-quality protein. Free from artificial additives and pollutants often found in farmed varieties,
       wild-caught salmon provides essential vitamins and minerals, and increase overall well-being. It is also good for the skin, with his saturated fats.
       The only thing that matters is that need to be wild caught, you know it by its color, should be pink and not orange like mosts salmon in the market.
    </p>
    </div>
   <div class="col-md-7 p-1">
    <h2>Eggs</h2>
<p>
  Pasture-raised eggs are a top choice for health as they come from hens that have access to outdoor spaces and a natural diet. These eggs are nutritionally superior, containing
   higher levels of omega-3 fatty acids, vitamins (such as vitamin D), and antioxidants compared to conventionally raised eggs.</p>
     </div> <div class="col-md-5 p-1">
    <img data-aos="fade-right"  data-aos-once="false" src="assets/background-image/components/Nutrition/good/eggs.jpg" alt="eggs" style="max-width: 350px;" class="rounded animated-image">
   </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-left"  data-aos-once="false" src="assets/background-image/components/Nutrition/good/parmesan.jpg" alt="cheese" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-7 p-1">
      <h2>Cheese</h2>
      <p>Cheese is a nutrient-dense food that offers various health benefits. It is an excellent source of high-quality protein, essential for muscle repair and
      maintenance. Additionally, cheese is rich in calcium, promoting strong bones and teeth. Certain varieties of cheese, especially those made from fermented
      milk, may contain probiotics that support a healthy gut microbiome, contributing to digestive well-being. Moreover, cheese provides essential
      vitamins and minerals, including vitamin B12, phosphorus, and zinc. These nutrients play vital roles in energy metabolism, bone health, and immune function.
   </p> </div>
    <div class="col-md-7 p-1">
      <h2>Fruit</h2>
      <p>Fruits are a nutritional powerhouse, offering an array of health benefits. Packed with essential vitamins, minerals, and antioxidants, fruits contribute
         to overall well-being. They provide a rich source of dietary fiber, promoting digestive health and helping to maintain a healthy weight. The antioxidants
          found in fruits help combat oxidative stress, potentially reducing the risk of chronic diseases. Fruits are also a natural source of vitamins like vitamin C,
        crucial for immune function and collagen synthesis. </p>
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-right"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/fruit.jpg" alt="fruit" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-left"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/kefir.jpg" alt="probiotic-rich-foods" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-7 p-1">
      <h2>Kefir</h2>
      <p>
        Kefir, known for its probiotic richness, is a fermented dairy product that promotes gut health. It contains a diverse array of beneficial bacteria,
        contributing to a balanced microbiome and supporting digestion. Probiotics in kefir may also enhance immune function and improve nutrient absorption.</p>
    </div>
    <div class="col-md-7 p-1">
<h2>Dark chocolate</h2>
<p>Dark chocolate, when consumed in moderation, offers a range of health benefits. Rich in antioxidants like flavonoids, dark chocolate has been associated
  with improved heart health by promoting healthy blood flow and reducing blood pressure.
   Additionally, it may positively impact mood and cognitive function due to its content of compounds like serotonin precursors and caffeine.</p>
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-right"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/dark-chocolate.jpg" alt="dark-chocolate" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-5 p-1">
      <img data-aos="fade-left"
      data-aos-duration="3000" data-aos-once="false" src="assets/background-image/components/Nutrition/good/water.jpg" alt="water" style="max-width: 350px;" class="rounded animated-image">
    </div>
    <div class="col-md-7 p-1">
      <h2>Water</h2>
      <p>Water, essential for life, plays a vital role in maintaining overall health. Proper hydration supports bodily functions such as digestion, nutrient
         transport, and temperature regulation. Water helps flush
        toxins from the body, aids in joint lubrication, and promotes healthy skin. Staying adequately hydrated is crucial for optimal physical and mental well-being.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 py-5">
      <div class="mat-elevation-z8 overflow-auto">
        <table mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Protein Column -->
          <ng-container matColumnDef="protein">
            <th mat-header-cell *matHeaderCellDef> Protein (g) </th>
            <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
          </ng-container>

          <!-- Fat Column -->
          <ng-container matColumnDef="fat">
            <th mat-header-cell *matHeaderCellDef> Fat (g) </th>
            <td mat-cell *matCellDef="let element"> {{element.fat}} </td>
          </ng-container>

          <!-- Carbohydrates Column -->
          <ng-container matColumnDef="carbohydrates">
            <th mat-header-cell *matHeaderCellDef> Carbohydrates (g) </th>
            <td mat-cell *matCellDef="let element"> {{element.carbohydrates}} </td>
          </ng-container>

          <!-- Vitamin B Column -->
          <ng-container matColumnDef="vitamin_b">
            <th mat-header-cell *matHeaderCellDef> Vitamin B </th>
            <td mat-cell *matCellDef="let element"> {{element.vitamins.b}} </td>
          </ng-container>

          <!-- Vitamin D Column -->
          <ng-container matColumnDef="vitamin_d">
            <th mat-header-cell *matHeaderCellDef> Vitamin D </th>
            <td mat-cell *matCellDef="let element"> {{element.vitamins.d}} </td>
          </ng-container>

          <!-- Vitamin K Column -->
          <ng-container matColumnDef="vitamin_k">
            <th mat-header-cell *matHeaderCellDef> Vitamin K </th>
            <td mat-cell *matCellDef="let element"> {{element.vitamins.k}} </td>
          </ng-container>

          <!-- Coline Column -->
          <ng-container matColumnDef="coline">
            <th mat-header-cell *matHeaderCellDef> Coline </th>
            <td mat-cell *matCellDef="let element"> {{element.choline}} </td>
          </ng-container>

          <!-- EPA Column -->
          <ng-container matColumnDef="epa">
            <th mat-header-cell *matHeaderCellDef> EPA </th>
            <td mat-cell *matCellDef="let element"> {{element.omega3.epa}} </td>
          </ng-container>

          <!-- DHA Column -->
          <ng-container matColumnDef="dha">
            <th mat-header-cell *matHeaderCellDef> DHA </th>
            <td mat-cell *matCellDef="let element"> {{element.omega3.dha}} </td>
          </ng-container>

          <!-- Minerals Calcium Column -->
          <ng-container matColumnDef="minerals_calcium">
            <th mat-header-cell *matHeaderCellDef> Minerals Calcium (mg) </th>
            <td mat-cell *matCellDef="let element"> {{element.minerals.calcium}} </td>
          </ng-container>

          <!-- Minerals Iron Column -->
          <ng-container matColumnDef="minerals_iron">
            <th mat-header-cell *matHeaderCellDef> Minerals Iron (mg) </th>
            <td mat-cell *matCellDef="let element"> {{element.minerals.iron}} </td>
          </ng-container>

          <!-- Minerals Magnesium Column -->
          <ng-container matColumnDef="minerals_magnesium">
            <th mat-header-cell *matHeaderCellDef> Minerals Magnesium (mg) </th>
            <td mat-cell *matCellDef="let element"> {{element.minerals.magnesium}} </td>
          </ng-container>

          <!-- Antioxidants Column -->
          <ng-container matColumnDef="antioxidants">
            <th mat-header-cell *matHeaderCellDef> Antioxidants </th>
            <td mat-cell *matCellDef="let element"> {{element.antioxidants}} </td>
          </ng-container>

          <!-- Fiber Column -->
          <ng-container matColumnDef="fiber">
            <th mat-header-cell *matHeaderCellDef> Fiber (g) </th>
            <td mat-cell *matCellDef="let element"> {{element.fiber}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[3, 6, 9]"
                       showFirstLastButtons
                       aria-label="Select page of food elements">
        </mat-paginator>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h1> And ... that's not even everything !
      </h1>
      <p class="fs-4">Infact , even if those tips can help improve overall health, and contribute to promote longevity, and prevent various diseases there's still something to mention when we
        talk about nutrition: Intermittent Fasting
      </p>
      <img src="assets/background-image/components/Nutrition/fasting/IF.png" alt="" class="rounded w-50" data-aos="zoom-out" data-aos-duration="3000">
      <p class="fs-4 py-4">Intermittent fasting (IF) has been associated with various health benefits, including effects on hormones, cellular repair, and healing processes. Here are some of the potential benefits in these specific areas:</p>
      <div #video5 class="w-75" data-aos="zoom-in" data-aos-duration="3000"></div>

      <ol class="w-50 m-auto fs-5">
        <li><strong>Insulin Sensitivity:</strong></li><p> IF can improve insulin sensitivity, aiding in the regulation of blood sugar levels. This is particularly beneficial for individuals dealing with or at risk of type 2 diabetes.
</p>
        <li><strong>Human Growth Hormone (HGH) Production:</strong> </li><p>IF is linked to increased secretion of human growth hormone, crucial for growth, metabolism, and muscle strength.
</p>
        <li><strong>Cellular Repair and Autophagy:</strong></li><p> Fasting promotes autophagy, a cellular cleaning process removing damaged cells and components, contributing to cellular repair and rejuvenation.
</p>
        <li><strong>Inflammation Reduction:</strong> </li><p>IF may reduce chronic inflammation associated with diseases like cardiovascular conditions and neurodegenerative disorders.
</p>
        <li><strong>Gene Expression:</strong></li><p> IF can influence the expression of certain genes, potentially contributing to longevity and protection against diseases.
</p>
        <li><strong>Brain Health:</strong></li><p> IF is associated with increased production of brain-derived neurotrophic factor (BDNF), supporting neuron growth and maintenance, potentially enhancing cognitive function.
</p>
        <li><strong>Enhanced Fat Burning:</strong> </li><p>During fasting, the body relies on stored fat for energy, leading to increased fat burning and improved body composition.
</p>
        <li><strong>Oxidative Stress Reduction:</strong> </li><p>IF may help reduce oxidative stress, the imbalance between free radicals and antioxidants linked to aging and various diseases.
</p>
        <li><strong>Improved Blood Lipid Profile:</strong></li><p> IF can positively impact cholesterol levels, reducing the risk of cardiovascular diseases.
</p>
        <li><strong>Longevity:</strong></li><p>
           Some animal studies suggest that intermittent fasting may extend lifespan, though further research is needed to confirm this effect in humans.
    </p>
  </ol>


   </div>
   <app-x401-speech [id]="string" class="py-4"></app-x401-speech>
    </div>
    <div class="col-md-12" data-aos="slide-up" data-aos-duration="3000">
      <h2>Did you like this?</h2>
      <app-comments-and-reviews [argument_id]="2" ></app-comments-and-reviews>
    </div>
  </div>
  </div>
</div>
