<div class="container">
  <div class="row rounded" >
  <div class="col-md-12 p-4" style="min-height: 500px;">
<div class="row">
  <div class="col-md-12 text-center" data-aos="fade-up" data-aos-duration="3000">
    <h1 class="fw-bolder">Path section</h1>
    <p>In this section we analyze something that is not a strategy, that is not applicable by a human being, but something that is necessary to understand to after collegate the pillars.
      Cause, what's the sense of applying stategies? For what? What is the purpose? And so, as long as we need to identify something to act for, let's identify this 'for' with the path.
    </p>
    <img src="assets/background-image/components/sensational-path-with-sea-mountain-sky-and-grass-upscaled.png" alt="" class="w-75 border rounded shadow-lg m-auto">
  <p class="p-4">
    It may seem strange, but I truly believe that each of us has one. And even though we think we shape our own destiny, in reality we don't. I don't know if you ever feel
    something inside you stronger than yourself. Or maybe when you were doing something and something inside made you feel like you had to stop what you were doing. Well,
    this is the path. It's something you can't do anything about, it was born with you, others gave it to you and you have to accept it. What you can do is neglect it or embrace it.
    I personally chose to embrace it. That said, the point of this little speech is that everything you find in "<span>Unbrakable</span>" i combine in the journey.
  </p>
  </div>
  <div class="col-md-12 class text-center" data-aos="fade-up" data-aos-duration="3000">
    <h1 class="p-1">
    What does it need from you? 👍
    </h1>
<p class="text-success">- Your Energy ✔</p>
<p class="text-success">- Your Effort ✔</p>
<p class="text-success">- Your Dedication ✔</p>
<p class="text-success">- Your Focus ✔</p>
<p class="text-success">- Your Love ✔</p>
<img src="assets/background-image/components/Path/dedication.jpg" alt="dedication" class="rounded border shadow-lg w-75" >

<p class="p-4"> So we talked about whether to embrace the path or not. OK. What do you need to embrace it? You have to give your energy, your commitment, your dedication, your focus, your love and
   many more of your positive feelings. It is necessary to express them through the natural positive habits that nature itself has given us, in the form of food, meditation, exercise, sunshine and more.
   So we learn to concentrate and do the naturally right things. Based on science.
</p>
</div>
      <div class="col-md-12 text-center" data-aos="fade-up" data-aos-duration="3000">
        <h1>What doesn't it need from you? 👎</h1>
<p class="text-danger">- Distractions ❌</p>
<p class="text-danger">- Neglicence ❌</p>
<p class="text-danger">- Superficiality ❌</p>
<p class="text-danger">- Carelessness ❌</p>
<p class="text-danger">- Postpone ❌</p>
<img src="assets/background-image/components/Path/distraction.jpg" alt="dedication" class="rounded border shadow-lg w-75" >
<p class="p-4 \">We also talked about neglect it. How to do it? It's simple, as to follow it. You need to make late nights, eat bad foods, not exercise, not study, not learn, sleep during the day,
  practice bad habits, like smoke for example. This yes, is your fault.
</p>
      </div>
    </div>
  </div>
</div>
</div>
