<div class="container">
  <div class="row">
    <div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
<h1>Chemistry section</h1>
<p class="p-4">In the years, the chemical industry has improved a lot, making huge progresses and finding new materials. However this is not only good. If from one point of view , it demonstrate how we,
  human beings, can evolve and find new things that we thought they were impossible to discover , or compose, or decompose, from another point of view this can bring us far from the nature,
  and it armonious rhythm.
</p>
<h2>But,what do i mean?</h2>
<p class="fs-4">
  Well, i don't know if you know but we are living an environmental crisis. Things like seas, oceans, mountains, lakes, even the air, are contamined from what we use on a daily basis. There is no
  other responsable for this. It is our fault. Illnesses like tumors,cancers, have been raised a lot, and this is even for the chemical things with what we do things. I Invite you to take
  a look to the terms of use of most of the products like floor detergent,dish detergent, laundry soaps, body soaps, hairs soaps, and much, much more. Onto each one of them, tipically in the back side
  there are warnings: like
</p>
<ul class="fs-5 text-danger" style="list-style-type: none;">
  <li>** not suitable for children</li>
  <li>**can cause serious allergies and irritation</li>
  <li>**in contact with part "x" call the doctor</li>
</ul>
 </div>
 <div class="col-md-12 py-4" data-aos="fade-up" data-aos-duration="3000">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/background-image/components/Chemistry/detersivi.jpeg" alt="" class="w-100 rounded full-shake shadow" style="max-height: 244px;">
    </div>
    <div class="col-md-4">
      <img src="assets/background-image/components/Chemistry//pittogrammi-nuovi.jpg" alt="" class="w-100 rounded full-shake shadow" style="max-height: 244px;">
    </div>
    <div class="col-md-4">
      <img src="assets/background-image/components/Chemistry/warningSoap.jpg" alt="" class="w-100 rounded full-shake shadow" style="max-height: 244px;">
    </div>
  </div>
  <p class="fs-4 py-4">It is not normal to use those things, while mantaining a cautious approach. All those illnesses of our time come from even from those products. And we cited only the
    chemical detergent. Well, while it is impossible to not clean ourselves , it is possible to use and refer to only 100% percent natural products.
  </p>
  <div class="col-md-4 m-auto">
    <h2>100% natural marsiglia soap :</h2>
    <img src="assets/background-image/components/Chemistry/marsiglia.jpg" alt="" class="w-100 rounded  shadow" style="max-height: 244px;">
  </div>
  <p class="fs-4 py-4">
Use soap like this one means to deny all the dangerous stuffs that are in the majority of the commercial and chemical detergents.
  </p>
  <div class="row">
<div class="col-md-6 p-2">
  <h2 class="text-danger">Cons of Chemical Detergents:</h2>
  <ul class="fs-4">
    <li>May contain harsh chemicals that can irritate the skin.</li>
    <li>Can contribute to water pollution and harm aquatic ecosystems.</li>
    <li>Often have strong synthetic fragrances that may cause respiratory issues.</li>
    <li>May contain additives linked to hormone disruption.</li>
    <li>May contain carcinogens.</li>
    <li>Production and disposal of chemical detergents can have environmental impacts.</li>
  </ul>
</div>
<div class="col-md-6 p-2">
  <h2 class="text-success">Pros of Natural Soaps:</h2>
  <ul class="fs-4">
    <li>Typically made with natural ingredients that are gentler on the skin.</li>
    <li>Biodegradable and environmentally friendly, reducing water pollution.</li>
    <li>Frequently have mild, natural scents without synthetic fragrances.</li>
    <li>Free from harsh chemicals that may cause skin irritation or allergies.</li>
  <li>Don't contain carcinogens.</li>
    <li>Manufacturing processes of natural soaps often have a lower environmental impact.</li>
  </ul>
</div>
<div class="col-md-12 py-4">
<div #video1></div>
</div>
<div class="col-md-12 p-4 fs-4">
  Examitaned those, to know the dangerous chemicals in food, check the <a class="text-dark">
 Nutrition
  </a>
 section.
</div>
<hr class="p-5">
<h2 class="py-4">Let's examine other dangerous chemical substances</h2>
<div class="col-4">
<img src="assets/background-image/components/Chemistry/pfas.jpg" alt="" class="my-5 rounded border w-100 shadow">
</div>
<div class="col-md-8">
<h3>The forever chemicals</h3>
<p class="fs-4">
  Per- and polyfluoroalkyl substances (PFAS) present a multifaceted environmental and health challenge. Known as "forever chemicals" due to their remarkable persistence, PFAS do
  not readily break down, leading to widespread contamination of air, water, and soil. Their ability to bioaccumulate in living organisms, including humans, raises concerns about
  potential health risks such as developmental effects, immune system disruption, liver damage, and an increased risk of certain cancers. PFAS contamination is particularly problematic
   in water sources near industrial sites, military bases, and areas where firefighting foam containing PFAS has been used. The global impact of PFAS pollution is significant, with
    limited effective remediation options available. Challenges in regulation, identification, and monitoring further compound the issue, making it imperative to address PFAS
     to safeguard the environment and human health for current and future generations.
</p>
</div>
<div class="col-md-8 my-5">
<h2>Polyester: 100% cotton is better!</h2>
<p class="fs-4">
  Check your clothes! Polyester, a widely used synthetic fabric derived from petrochemicals, raises environmental and health concerns. Its production contributes to environmental
  concerns, including resource depletion and energy consumption. Polyester fabrics can shed microplastics during use and washing, adding to environmental pollution.
  While valued for durability and affordability, the environmental impact of polyester raises questions about sustainability and calls for more eco-friendly alternatives.
</p>
</div>
<div class="col-4 my-5">
<img src="assets/background-image/components/Chemistry/polyester-vs-cotton.jpg" alt="" class=" rounded border w-100 shadow">
</div>
<div class="col-4">
<img src="assets/background-image/components/Chemistry/aspartame.jpg" alt="" class=" rounded border w-100 shadow my-5">
</div>
<div class="col-md-8">
<h2>Nitrites,Nitrates and aspartame</h2>
<p class="fs-4">
  Nitrites and nitrates, commonly used as preservatives in processed meats, have raised health concerns due to their association with the formation of nitrosamines, compounds linked to
  an increased risk of certain cancers. Recommendations advise limiting the intake of processed meats containing these additives to mitigate potential health risks.
Aspartame, an artificial sweetener widely employed as a low-calorie sugar substitute, is a subject of controversy regarding safety. Studies have raised concerns about potential health
 risks associated with its consumption, prompting ongoing discussions and varying regulatory stances globally.
Some individuals may opt to exercise caution and explore alternative sweeteners perceived as safer or more natural to address potential health concerns linked to aspartame consumption.
</p>
</div>
  </div>
</div>
<div class="col-md-12 py-4" data-aos="fade-up" data-aos-duration="3000">
<h2>Conclusions: </h2>
<p class="fs-4 py-4">
  All those things, not only goes into our bodies, but, in our enviroment too. So it is etical over than healthy. We have children to raise.
Pay attention to the clothes you wear, the food you eat and the soaps you use to clean your body, your dishes and your house! It's very important to keep those things away if we want
to improve our overall health. We already have external factors to fight , we can't introduce even those in our everyday life.
</p>
</div>
<app-x401-speech [id]="string" class="py-4"></app-x401-speech>
 </div>
  </div>
