<div class="container text-center">
  <div class="row rounded">
  <div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
<h1>Heal section</h1>
<p>In this section we talk about how to regenerate yourself, mentally. (We have another section to see how to do it fisically)</p>
<h3>For so long , we've been told that we are not able to regenerate neurons in the brain, that we can only do it when we're young. That's not actually true.</h3>
    <p>Many studyies show how we can grow new brain cells and that there is a specific process to do it , this is the</p>
 <h3><a  class="text-dark">Neurogenesis</a></h3>
 <div class="row py-5">
  <div class="col-md-6">
     <img src="assets/background-image/components/Neurogenesis/neurogenesis.jpg" alt="" class="rounded shadow w-50" data-aos="zoom-out" data-aos-duration="3000">
  </div>
  <div class="col-md-6">
<div #video1 data-aos="fade-right" data-aos-duration="3000"></div>
  </div>
 </div>
  </div>
  <div class="col-md-12 py-4" data-aos="fade-up" data-aos-duration="3000">
<h2>What is neurogenesis?</h2>
<p>
  Imagine a remarkable process occurring within the intricate folds of your brain, one that holds the key to unlocking cognitive prowess, emotional resilience, and a
  vibrant mind throughout your life. This is neurogenesis, a captivating journey of continual renewal and growth, where new neurons sprout
   and integrate into the neural tapestry of your brain. As we delve into the mesmerizing realm of neurogenesis, we uncover not only the scientific marvel of generating new
   brain cells but also the profound implications it holds for our cognitive abilities, emotional well-being, and overall mental vitality. </p>
   <p>
    Activating neurogenesis, involves incorporating various lifestyle choices and practices that create an optimal environment for brain cell growth. Here are key points on how to
    activate neurogenesis:
   </p>
   <ol>
      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Physical Exercise :</strong>
          <p>Aerobic Exercise: Engage in regular aerobic activities like running, cycling, or swimming, which boost neurogenesis, especially in the hippocampus.</p>

      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Healthy Diet :</strong>
          <p>Omega-3 Fatty Acids: Consume foods rich in omega-3 fatty acids, such as fatty fish, butter and animal fats, which support brain health and neurogenesis.</p>
          <p>Antioxidant-Rich Foods: Include fruits and vegetables with high antioxidant content, protecting the brain from oxidative stress.</p>

      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Adequate Sleep :</strong>
          <p>Quality Sleep: Prioritize sufficient and quality sleep, as the brain consolidates memories and facilitates neurogenesis during certain sleep stages.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Stress Management :</strong>
          <p>Mindfulness Meditation: Practice mindfulness meditation to reduce stress levels, as chronic stress can impede neurogenesis.</p>
          <p>Yoga and Relaxation Techniques: Engage in yoga or relaxation exercises to promote a calm and balanced nervous system.</p>

      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Cognitive Stimulation :</strong>
          <p>Continuous Learning: Challenge your brain with new and complex activities, such as learning a musical instrument, a new language, or engaging in mentally stimulating hobbies.</p>
          <p>Puzzles and Games: Solve puzzles, play strategy games, or engage in activities that require cognitive effort.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Social Engagement :</strong>
          <p>Social Interactions: Foster meaningful social connections and engage in regular social activities, as social interactions have been linked to enhanced neurogenesis.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Intermittent Fasting :</strong>
          <p>Caloric Restriction: Consider intermittent fasting or caloric restriction, as studies suggest a potential link between fasting and increased neurogenesis.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Environmental Enrichment :</strong>
          <p>Novel Experiences: Expose yourself to new and novel experiences, as environmental enrichment is associated with enhanced neurogenesis.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Brain-Boosting Natural Supplements :</strong>
          <p>Curcumin and Resveratrol: Some studies suggest that certain supplements, such as curcumin (found in turmeric) and resveratrol (found in red grapes), may have neurogenic properties.</p>
      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Optimize Hormones :</strong>
          <p>Adequate BDNF Release: Stimulate the release of brain-derived neurotrophic factor (BDNF) through activities like exercise, which supports neurogenesis.</p>

      </li>

      <li>
        <strong class="fs-4"><i class="fas fa-check-circle" style="color: green;"></i>
 Maintain Mental Health :</strong>
          <p>Manage Depression and Anxiety: Address and manage mental health conditions like depression and anxiety, as these can impact neurogenesis. You can take a walk outside to lower stress levels</p>

      </li>
    </ol>
  </div>
  <div class="col-md-12 py-4" data-aos="fade-up" data-aos-duration="3000">
  <p class="fs-3">
    As you can see, those key points are all related to the unbrekable pillars. And, that's not a case.
  </p>
  <p class="fs-4">
   Now let's take a look at what may block neurogenesis:
  </p>
  <ol>
    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Chronic Stress:</strong>
      <p>Chronic stress can impede neurogenesis and negatively impact overall brain health.</p>
    </li>

    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Poor Sleep Quality:</strong>
      <p>Insufficient or poor-quality sleep may hinder the brain's ability to consolidate memories and facilitate neurogenesis.</p>
    </li>

    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Unhealthy Diet:</strong>
      <p>A diet lacking essential nutrients, especially omega-3 fatty acids and antioxidants, may negatively affect neurogenesis.</p>
    </li>

    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Sedentary Lifestyle:</strong>
      <p>Lack of regular physical exercise, especially aerobic activities, may hinder the promotion of neurogenesis.</p>
    </li>

    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Smoking:</strong>
      <p>Smoking is associated with harmful effects on neurogenesis and overall brain health.</p>
    </li>

    <li>
      <strong class="fs-4"> <i class="fas fa-times-circle" style="color: red;"></i> Excessive Alcohol Consumption:</strong>
      <p>Excessive alcohol consumption can negatively impact neurogenesis and compromise cognitive function.</p>
    </li>
  </ol>
  </div>
  <div class="col-md-12 py-4" data-aos="fade-up" data-aos-duration="3000">
  <h3>Resume</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h2 class="text-success fw-bold">Does</h2>
<div class="col-md-4 p-2"><img
  src="assets/background-image/components/Neurogenesis/good/diet.jpg"
  class="img-fluid rounded shaker-on-hover"
  alt="" data-aos="zoom-out" data-aos-duration="3000"
/>
</div>
<div class="col-md-4 p-2"><img
  src="assets/background-image/components/Neurogenesis/good/gym.jpg"
  class="img-fluid rounded shaker-on-hover"
  alt="" data-aos="zoom-out" data-aos-duration="3000"
/>
</div>
<div class="col-md-4 p-2"><img
  src="assets/background-image/components/Neurogenesis/good/meditation.jpg"
  class="img-fluid rounded shaker-on-hover"
  alt="" data-aos="zoom-out" data-aos-duration="3000"
/>
</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h2 class="text-danger fw-bold">Does not</h2>
     <div class="col-md-4 p-2"><img
      src="assets/background-image/components/Neurogenesis/bad/lazyness.jpg"
      class="img-fluid rounded shaker-on-hover"
      data-aos="zoom-out" data-aos-duration="3000"
      alt=""
     />
     </div>
     <div class="col-md-4 p-2"><img
      src="assets/background-image/components/Neurogenesis/bad/cigarettes.jpg"
      class="img-fluid rounded shaker-on-hover"
      data-aos="zoom-out" data-aos-duration="3000"
      alt=""
     />
     </div>
     <div class="col-md-4 p-2"><img
      src="assets/background-image/components/Neurogenesis/bad/alcoolNeuro.jpg"
      class="img-fluid rounded shaker-on-hover"
      data-aos="zoom-out" data-aos-duration="3000"
      alt=""
     />
     </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 py-5" data-aos="fade-up" data-aos-duration="3000">
<h2>We can't close this section without talking about a practice that has misterious benefits : Meditation</h2>
<p class="fs-5 py-4">
  In the bustling rhythm of modern life, finding moments of tranquility becomes increasingly vital for our mental and emotional well-being. Meditation, a centuries-old practice rooted
  in mindfulness and self-awareness, offers a sanctuary amidst the chaos. It provides a profound journey inward, fostering a sense of calm, clarity, and resilience. By cultivating the
  art of meditation, individuals embark on a transformative path that not only nourishes the mind but also contributes to physical and emotional harmony. Let's explore the art of
   meditation and delve into the steps that can guide you on this enriching voyage of self-discovery.
</p>
<img src="assets/background-image/components/Neurogenesis/meditate.jpg" class="rounded shadow w-50" alt="" data-aos="zoom-in" data-aos="fade-left" data-aos-duration="3000">

<ol class="py-4">
  <li>
    <strong class="fs-4">Choose a Quiet Space:</strong>
    <p>Find a quiet and comfortable space where you won't be easily disturbed. This could be a dedicated meditation room or a quiet corner in your home.</p>
  </li>

  <li>
    <strong class="fs-4">Comfortable Posture:</strong>
    <p>Sit or lie down in a comfortable position. Keep your back straight to maintain alertness, and relax your shoulders.</p>
  </li>

  <li>
    <strong class="fs-4">Focus on Your Breath:</strong>
    <p>Close your eyes and turn your attention to your breath. Observe the natural rhythm of your inhalations and exhalations.</p>
  </li>

  <li>
    <strong class="fs-4">Mindful Breathing:</strong>
    <p>Practice mindful breathing by bringing your awareness to the sensation of the breath entering and leaving your nostrils or the rise and fall of your chest.</p>
  </li>

  <li>
    <strong class="fs-4">Let Go of Distractions:</strong>
    <p>As you meditate, thoughts may arise. Acknowledge them without judgment and gently guide your focus back to your breath.</p>
  </li>

  <li>
    <strong class="fs-4">Body Scan Meditation:</strong>
    <p>Conduct a body scan by bringing attention to different parts of your body, starting from your toes and moving up to the top of your head. Notice any tension and allow it to release.</p>
  </li>

  <li>
    <strong class="fs-4">Gradual Progression:</strong>
    <p>Start with shorter sessions and gradually extend the duration as you become more comfortable with the practice.</p>
  </li>

  <li>
    <strong class="fs-4">Reflect After Meditation:</strong>
    <p>Take a moment to reflect on your meditation experience. Notice any changes in your thoughts, emotions, or overall sense of well-being.</p>
  </li>
</ol>
  </div>
  <app-x401-speech [id]="string" class="py-4"></app-x401-speech>

  </div>
  <div class="col-md-12" data-aos="slide-up" data-aos-duration="3000">
    <h2>Did you like this?</h2>
    <app-comments-and-reviews [argument_id]="3" ></app-comments-and-reviews>
  </div>
</div>

</div>
