.text-white{
  text-shadow: 3px 3px 3px  black;
}
h1{
  min-height: 70px;
}

a{
  text-decoration: none;
}
@media screen and (max-width:1120px){
  .personalized-chat{
  display: none;
  }
  .personalized-mini-chat{
left: 0;    }
}

.personalized-mini-chat{
  right:453px;
  z-index:5;
}
